<div class="gallery-wrapper">
  <img src="../assets/icons/Culture.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Directions.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Entertainment.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Gastronomy.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Help.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/ImHungry.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Leisure.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Profile.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Timeline.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Urban.svg" height="200px" width="200px" alt="">  
  <img src="../assets/icons/budget4.svg" height="200px" width="200px" alt="">  
</div>