<div class="gallery-wrapper">
  <img class="png" src="../assets/icons/Culture(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Culture(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Culture(1).png" width= "94px" height= "96px">
  
  <img class="png" src="../assets/icons/Directions(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Directions(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Directions(1).png" width= "94px" height= "96px">
  
  <img class="png" src="../assets/icons/Entertainment(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Entertainment(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Entertainment(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Gastronomy(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Gastronomy(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Gastronomy(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Help(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Help(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Help(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/ImHungry(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/ImHungry(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/ImHungry(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Leisure(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Leisure(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Leisure(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Profile(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Profile(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Profile(1).png" width= "94px" height= "96px">
  
  <img class="png" src="../assets/icons/Timeline(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Timeline(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Timeline(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Urban(3).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Urban(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Urban(1).png" width= "94px" height= "96px">

  <img class="png" src="../assets/icons/Budget(1).png" width="376px" height="384px">
  <img class="png" src="../assets/icons/Budget(2).png" width="188px" height="192px">
  <img class="png" src="../assets/icons/Budget(3).png" width="94px" height="96px">

  <!-- <img src="../assets/icons/Entertainment.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Gastronomy.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Help.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/ImHungry.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Leisure.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Profile.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Timeline.svg" height="200px" width="200px" alt="">
  <img src="../assets/icons/Urban.svg" height="200px" width="200px" alt="">  
  <img src="../assets/icons/budget4.svg" height="200px" width="200px" alt="">   -->
</div>