.square {
    position: absolute;
}
.l-square {
    position: absolute;
    left: 0;
    background-color: rgb(219, 41, 41);
    height: 100px;
    width: 50px;
    transform-origin: left bottom; 
    animation: updown-L 1s ease infinite;
}
.r-square {
    position: absolute;
    left: 50px;
    background-color: rgb(219, 41, 41);
    /* background-color: rgb(41, 124, 219); */
    height: 100px;
    width: 50px;
    transform-origin: right bottom; 
    animation: updown-R 1s ease infinite;    
}

.eye {
    width: 30px;
	height: 30px;
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    animation: idle 1s ease infinite; 
}
.left {
    position: absolute;
    top: 20px;
    /* background-color: cyan; */
}
.right {
    position: absolute;
    top: 20px;
    /* background-color: greenyellow; */
}

/* KEYFRAMES */

@keyframes idle {
    0%   { transform: translateY(0)     }
    50%  { transform: translateY(-5px)  }
    100% { transform: translateY(0)     }
}

@keyframes jump {
    0%   { transform: translateY(200px) }
    40%  { transform: translateY(100px) }
    60%  { transform: translateY(100px) }
    100% { transform: translateY(200px) }
}

@keyframes updown-R {
    0%   { transform: scaleY(1)    skewX(0deg)    }
    50%  { transform: scaleY(1.05) skewX(3deg) }
    100% { transform: scaleY(1)    skewX(0deg)    }
}
@keyframes updown-L {
    0%   { transform: scaleY(1)    skewX(0deg)    }
    50%  { transform: scaleY(1.05) skewX(-3deg) }
    100% { transform: scaleY(1)    skewX(0deg)    }
}