.square {
    position: absolute;
}
.l-square {
    position: absolute;
    left: 0;
    background-color: rgb(219, 41, 41);
    height: 100px;
    width: 50px;
    transform-origin: left bottom; 
    animation: updown-L 1s ease 3;
    /* animation: run-amok 500ms ease infinite; */
}
.r-square {
    position: absolute;
    left: 50px;
    background-color: rgb(219, 41, 41);
    /* background-color: rgb(41, 124, 219); */
    height: 100px;
    width: 50px;
    transform-origin: right bottom; 
    animation: updown-R 1s ease 3;    
    /* animation: run-amok 500ms ease infinite; */
}

.eye {
    width: 30px;
	height: 30px;
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    animation: idle 1s ease 3; 
}
.left {
    position: absolute;
    top: 20px;
    /* background-color: cyan; */
    animation: stare-l 200ms 4000ms linear 1 forwards;
}
.right {
    position: absolute;
    top: 20px;
    /* background-color: greenyellow; */
    animation: stare-r 200ms 4000ms linear 1 forwards;
    
}

/* KEYFRAMES */

@keyframes idle {
    0%   { transform: translateY(0)    }
    50%  { transform: translateY(-5px) }
    100% { transform: translateY(0)    }
}

@keyframes updown-R {
    0%   { transform: scaleY(1)    skewX(0deg)    }
    50%  { transform: scaleY(1.05) skewX(3deg) }
    100% { transform: scaleY(1)    skewX(0deg)    }
}
@keyframes updown-L {
    0%   { transform: scaleY(1)    skewX(0deg)    }
    50%  { transform: scaleY(1.05) skewX(-3deg) }
    100% { transform: scaleY(1)    skewX(0deg)    }
}

@keyframes run-amok {
    0%   { transform: translateX(0px)  skewX(0deg)    }
    50%  { transform: translateX(50px) skewX(20deg) }
    100% { transform: translateX(50px) skewX(0deg) }
}

@keyframes stare-l {
    0%   { left: 15px; transform: scaleY(1) }
    50%  { left: 15px; transform: scaleY(0) }
    100% { left: 15px; transform: scaleY(1) }
}
@keyframes stare-r {
    0%   { left: 55px; transform: scaleY(1) }
    50%  { left: 55px; transform: scaleY(0) }
    100% { left: 55px; transform: scaleY(1) }
}