<div class="header">
  Panos Alexandros Fragoulis
</div>

<div class="square-home">
  <app-square
  [x] = '500'
  [y] = '400'
  [direction] = '"right"'
  [color] = '"red"'
  ></app-square>
  <app-square
  [x] = '650'
  [y] = '400'
  [direction] = '"left"'
  [color] = '"green"'
  ></app-square>
  <app-square
  [x] = '890'
  [y] = '400'
  [direction] = '"left"'
  [color] = '"magenta"'
  ></app-square>
  <app-square
  [x] = '770'
  [y] = '400'
  [direction] = '"left"'
  [color] = '"royalblue"'
  ></app-square>
  <app-square
  [x] = '380'
  [y] = '400'
  [direction] = '"right"'
  [color] = '"orange"'
  ></app-square>
  <app-square
  [x] = '280'
  [y] = '400'
  [direction] = '"right"'
  [color] = '"orangered"'
  ></app-square>
</div>

