.header {
    text-align: center;
    height: 100px;
    background-color: royalblue;
    color: lightblue;
}

#home-wrapper {
    position: relative;
    top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 10px;
}

.square {
    height: 250px;
    background-color: cadetblue;
}