<div class="header">
  Panos Alexandros Fragoulis
</div>

<div class="square-home">
  <div id="red" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-R"></div>
    <div class="right-R"></div>
  </div>
  <div id="orange" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-R"></div>
    <div class="right-R"></div>
  </div>
  <div id="orangered" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-R"></div>
    <div class="right-R"></div>
  </div>
  <div id="green" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-L"></div>
    <div class="right-L"></div>
  </div>
  <div id="magenta" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-L"></div>
    <div class="right-L"></div>
  </div>
  <div id="royalblue" class="square">
    <div class="l-square" ></div>
    <div class="r-square" ></div>
    <div class="left-L"></div>
    <div class="right-L"></div>
  </div>
</div>

